<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>v-if & v-else-if & v-else 基本使用</title>
</head>
<body>
<div id="app">
  <!--1 v-if 基本使用-->
  <!--<h2 v-if="isShow">{{message}}</h2>-->

  <!--2 v-if & v-else 基本使用-->
  <!--<h2 v-if="isShow">{{message}}</h2>-->
  <!--<h2 v-else>isShow 为 false 时，显示我</h2>-->

  <!--3 v-if & v-else-if &v-else 基本使用，但是判断比较复杂时不推荐这种写法-->
  <!--  <h2 v-if="score>=90">优秀</h2>-->
  <!--  <h2 v-else-if="score>=80">良好</h2>-->
  <!--  <h2 v-else-if="score>=60">及格</h2>-->
  <!--  <h2 v-else>不及格</h2>-->

  <!--4 条件判断较为复杂时的推荐写法：在 methods 中定义函数-->
  <h2>{{result()}}</h2>

</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      message: "你好啊",
      isShow: true,
      score: 98
    },
    methods: {
      result() {
        let showMessage = "";
        if (this.score >= 90) {
          showMessage = "优秀";
        } else if (this.score >= 80) {
          showMessage = "良好";
        } else if (this.score >= 60) {
          showMessage = "及格";
        } else {
          showMessage = "不及格";
        }
        return showMessage;
      }
    }
  });
</script>
</body>
</html>